/* Making borders simplified */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #222222;
}
div.actual {
  height: 100vh;
  background-image: url(images/vzd_logo_group.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.btn_main_actual {
  width: 1128px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  background-color: #00284D99;
  display: flex;
  justify-content: space-between;
  padding: 26px 24px 23px 24px;
}
div.ua_b {
  width: 312px;
  height: 56px;
  margin-top: 22px;
  border: 1px solid #00FFF0;
}
div.ua_b p {
  text-align: center;
  margin-top: 14px;
}
div.main_pic {
  width: 100vw;
  height: 100vh;
  background-image: url(images/vzd_logo_group.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.Service_block {

}
div.Service_block_main {
  display: flex;
  justify-content: space-between;
}
div.Service_block_announcements {
  display: grid;
  grid-template-columns: 360px 360px 360px;
}
div.Service_last_news {
  background-color: #red;
}
body {
  background-color: #222222;
}
/* Centered content */
main {
  margin-left: auto;
  margin-right: auto;
  width: 1128px;
}
div.Operational_block {
  margin-top: 80px;
  margin-bottom: 80px;
}
div.Service_block {
  margin-top: 80px;
  margin-bottom: 140px;
}
div.Service_block_main {
  display: flex;
  justify-content: space-between;
}
div.Service_block_announcements {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  justify-content: space-between;
  margin-top: 22px;
}
div.Service_last_news {
}
div.Service_last_news p {
  padding: 18px 0 0 16px;
}
div.lowercase {
  background-color: #262626;
}
div.lowercase_main {
  display: flex;
  padding: 15px 28px 16px 16px;
}
div.lowercase_main p {
  padding-top: 8px;
  padding-left: 8px;
}
div.Header_left {
}
div.Header_right {
  display: flex;
}
div.Header_right p {
  padding: 6px;
}
div.Header_right img {
  justify-content: center;
  padding: 20px 10px 20px 10px;
}
